[flake8]
max-line-length = 100

exclude = 
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    *.egg-info,
    .mypy_cache,
    .pytest_cache

# E203 and W503 are commonly ignored when using black
ignore = E203, W503

show-source = true
count = true
