# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
.env/
.venv/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Extracted Android image files
# *.img
*.raw
mnt_*/

# Editor junk
*.swp
*~
.idea/
.vscode/
*.bak

# GitHub Actions artifacts
.github/workflows/__pycache__/

# Misc
*.tar
*.zip
*.gz
